
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }

  /* Modal Content */

  .modal-content {
    width: 25%;
    min-width: 200px;
    height: auto;
    padding: 20px 30px;
    color:#000;
    background-color: #FCF8F5;
    position: fixed;
    top: none;
    left: none;
    transform: none;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    animation: none;
    border-radius: 25px;
    
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  /* css for close button animation */
  
  




  /*Animation For Modal-Open*/

  @keyframes bounce {
    0% {transform: translate(-350%);}
    70% {transform: translate(-45%);}
    90% {transform: translate(-53%);}
    100% {transform: translate(-50%);}
  }

  /*Animation For Modal-Close*/
  @keyframes bounce-off {
    0% {transform: translate(-50%);}
    100% {transform: translate(350%);}
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  





  <!-- instead of img map, use transparent svg circles with links because they are resizable accroding to the img -->

  <!-- MODAL -->
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="modal-box">

      <!-- Modal header -->
      <div class="modal-header" id="modal-header">
        <h4 class="modal-title" id="modal-title">
            Modal Heading
        </h4>
        <button type="close-btn" class="close-btn"
            id="close-btn">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-body">
        Modal Body
      </div>
      
    </div>

  </div>