<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sofia Metro Time</title>
    <link rel="stylesheet" href="/main.css">
    
    <!-- defer makes the script come after the body -->
    <!-- type module opens up the possibility to use import/export -->
  </head>
  <body>
    <!-- INITIAL MAP -->
    <!-- you create an img and a svg that is layed over the img to perfect scale => both have same 100vmin as height and width -->
      <img src="/metromap.jpg">
      
      <svg>
        <!-- M3 -->
        <!-- Gorna Bania -> Hadji Dimitar -->
        <a class="station" title="hadji-dim" id="Hadji Dimitar" data-num="4424/3310,4425/3309">
          <circle cx="66.59%" cy="33.915%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="teatralna" id="Teatralna" data-num="4424/3312,4425/3311">
          <circle cx="62.56%" cy="39.2%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="orlov-most" id="Orlov most" data-num="4424/3316,4425/3315">
          <circle cx="57.98%" cy="48.53%" r="0.75%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="evtimi" id="Patriarch Evtimi" data-num="4424/3318,4425/3317">
          <circle cx="53.25%" cy="50.34%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="ndk-2" id="NDK" data-num="4424/3320,4425/3319">
          <circle cx="45.285%" cy="50.334%" r="0.77%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="med-uni" id="Medicinski Universitet" data-num="4424/3322,4425/3321">
          <circle cx="37.6%" cy="56.7%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="bul-bg" id="Bulevard Bulgaria" data-num="4424/3324,4425/3323">
          <circle cx="31.3%" cy="62.9%" r="0.55%" stroke="green" fill="yellow"/>
        </a>
        
        <a class="station" title="krasno-selo" id="Krasno selo" data-num="4424/3328,4425/3327">
          <circle cx="26.1%" cy="64.15%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="ovcha-kupel" id="Ovcha kupel" data-num="4424/3324,4425/3329">
          <circle cx="20.8%" cy="62.93%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="nbu" id="NBU" data-num="4424/3332,4425/3331">
          <circle cx="16.28%" cy="60.2%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="ovcha-kupel-2" id="Ovcha kupel 2" data-num="4424/3334,4425/3333">
          <circle cx="11.33%" cy="60.2%" r="0.55%" stroke="green" fill="yellow"/>
        </a>

        <a class="station" title="gorna-bania" id="Gorna bania" data-num="4424/3336,4425/3335">
          <circle cx="6.58%" cy="62.85%" r="0.55%" stroke="green" fill="yellow"/>
        </a>
      </svg>
      <!-- <button id="clickME">Click Me!</button> -->

    <!-- instead of img map, use transparent svg circles with links because they are resizable accroding to the img -->

    <!-- MODAL -->
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="modal-box">

        <!-- Modal header -->
        <div class="modal-header" id="modal-header">
          <h4 class="modal-title" id="modal-title"></h4>
          <button id="train-btn-one" class="btn">-> Gorna bania</button>
          <button id="train-btn-two" class="btn">-> Hadji Dimitar</button>
          <button type="close-btn" class="btn" id="close-btn">&times;</button>
        </div>
        <span class="forSpace"></span>
        <!-- Modal body -->
        <div class="modal-body" id="modal-body">
          
        </div>
        
      </div>

    </div>
    <!-- Notice that the JS script tag was placed above the code that declares the button element. (in the <head>) 
      This means that the index.js file is run before the button element is available. -->
    <script src="/index.js" ></script>
  </body>
</html>